@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
/*----------------------------------*/

/*            總體設定               */

/*----------------------------------*/
.SuccessMessenge{
    position: fixed;
    width: 100%;
    top:0;
    text-align: center;
    display:none;
    z-index:1040;
}
.FailMessenge{
    position: fixed;
    width: 100%;
    top:0;
    text-align: center;
    display:none;
    z-index:1040;
}
html, body {
    font-family: 'Noto Serif TC', serif;
    background: url(../imgs/背景1.png)center center fixed no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

div.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

div.content {
    height: 100%;
    display: flex;
    align-items: center;
}

a:hover {
    text-decoration: none;
}
    /*----------------------------------*/

    /*                輪播              */

    /*----------------------------------*/

    .carousel {
        margin-top: -0.5em;
    }

    .carousel-item {
        height: 30em;
    }

    .carousel-item img {
        height: 30em;
    }
/*----------------------------------*/

/*            Loding               */

/*----------------------------------*/
.LoadingShow{
    /* display: none; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  /*----------------------------------*/
  
  /*            遮罩                  */
  
  /*----------------------------------*/
  div.background {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(126, 125, 125, 0.3);
    z-index:20;
  }
/*----------------------------------*/

/*            卡片設定               */

/*----------------------------------*/

div.card-set {
    width: 33%;
    border: none;
    margin: 0em auto;
    box-shadow: 0 1rem 3rem rgba(247, 4, 4, 0.175);
}

.card-body {
    display: flex;
    justify-content: center;
}

div.member-img {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}

div.form-group-set {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

div.name-set {
    width: 8em;
    display: flex;
    justify-content: space-between;
}

div.color {
    color: rgb(36, 50, 73);
}

.form-control {
    margin-left: 0.5em;
}

div.on-off-set {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

div.test-form-group-set {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid rgb(36, 50, 73);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: rgba(235, 235, 235, 0.9);
}

/*----------------------------------*/

/*            按鈕設定               */

/*----------------------------------*/

div.btn-set {
    margin-top: 5em;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
}

button.change-btn {
    width: 6em;
    height: 3em;
    border: none;
    color: #FFF;
    background: rgb(36, 50, 73);
    border-radius: 4px;
    margin: 0 0.5em;
}

button.delete-btn {
    width: 6em;
    height: 3em;
    border: none;
    color: #FFF;
    background: rgb(221, 152, 62);
    border-radius: 4px;
    margin: 0 0.5em;
}

.btn-close, .btn-close:hover {
    color: #FFF;
    background-color: rgb(36, 50, 73);
}

.btn-ok, .btn-ok:hover {
    color: #fff;
    background-color: rgb(221, 152, 62);
}

/*----------------------------------*/

/*              ON/OFF              */

/*----------------------------------*/

.onoffswitch {
    position: relative;
    width: 160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #4D6C74;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 2.5em;
    padding: 0;
    line-height: 2.5em;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FFFF99;
    color: #999999;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFF99;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 0px;
    background: #27A1CA;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 142px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: rgb(10, 139, 182);
}

/*----------------------------------*/

/*            大頭貼                */

/*----------------------------------*/

.photo {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

/*----------------------------------*/

/*            file                 */

/*----------------------------------*/

#upload_input {
    display: none;
}

.upload_icon:hover:after {
    opacity: 1;
}

.upload_icon:after {
    content: '編輯';
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -25%);
    font-size: 25px;
    color: rgb(202, 0, 0);
    font-weight: bold;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

.upload_icon:hover img {
    opacity: 0.5;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

@media screen and (min-width:2100px) {
    div.card-set {
        width: 33%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.9;
    }
}

@media screen and (max-width:1880px) {
    div.card-set {
        width: 33%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.9;
    }
}

@media screen and (max-width:1680px) {
    div.card-set {
        width: 33%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.9;
    }
}

@media screen and (max-width:1350px) {
    div.card-set {
        width: 33%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.8;
    }
}

@media screen and (max-width:1150px) {
    div.card-set {
        width: 40%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.8;
    }
}

@media screen and (max-width:1024px) {
    div.card-set {
        width: 40%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.8;
    }
}

@media screen and (max-width:901px) {
    div.content {
        width: 100%;
        margin: 0em auto;
        zoom: 0.8;
    }
}

@media screen and (max-width:850px) {
    div.card-set {
        width: 100%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.8;
    }
}

@media screen and (max-width:750px) {
    div.card-set {
        width: 100%;
        border: none;
        margin: 0em auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        zoom: 0.8;
    }
}

@media screen and (max-width:450px) {
    div.content {
        width: 100%;
        margin: 0em auto;
    }
}

@media screen and (max-width:400px) {
    div.content {
        width: 100%;
        margin: 0em auto;
    }
}

@media screen and (max-width:320px) {
    div.content {
        width: 100%;
        margin: 0em auto;
    }
}