    @import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
    /*----------------------------------*/

    /*            總體設定               */

    /*----------------------------------*/

    html, body {}

    .body {
        font-family: 'Noto Serif TC', serif;
        height: 100%;
        overflow-y: hidden;
        background: url(../imgs/背景1.png)center center fixed no-repeat;
        background-size: cover;
    }

    div.container-fluid {
        margin: 0 !important;
        padding: 0 !important;
        /* height: 100%;
        width: 100%; */
        display: flex;
    }

    div.deck {
        position: absolute;
        top: 6.0em;
        bottom: 0;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    a:hover {
        text-decoration: none;
        outline: none;
        color: rgb(221, 152, 62);
        ;
    }

    .label-color-all {
        min-height: 200px;
    }

    /*----------------------------------*/

    /*                輪播              */

    /*----------------------------------*/

    .carousel {
        position: relative;
        top: 3.2em;
    }

    .carousel-item {
        height: 30em;
    }

    .carousel-item img {
        height: 30em;
    }

    /*----------------------------------*/

    /*            scroll                */

    /*----------------------------------*/

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0px 0 5px 0;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #808080;
    }

    /*----------------------------------*/

    /*    member&administrator          */

    /*----------------------------------*/

    div.member-bottom {
        position: absolute;
        display: flex;
        /* top: 3.1em; */
        width: 100%;
        /* left: 0; */
        height: 3.2em;
        overflow-x: auto;
        overflow-y: hidden;
        background: rgba(231, 230, 230, 0.6);
    }

    div.administrator-img {
        display: flex;
        align-items: center;
        padding-right: 0.5em;
    }

    div.member-img {
        display: flex;
        align-items: center;
        padding-right: 0.5em;
    }

    div.plan-name {
        display: flex;
        align-items: center;
        padding-right: 0.4em;
        padding-left: 0.4em;
        font-weight: 700;
        white-space: nowrap;
        color: rgb(36, 50, 73);
        margin-left: 0.5em;
        font-size: 1em;
    }

    div.admin-name {
        white-space: nowrap;
        color: #ffffff;
        font-size: 0.7em;
        font-weight: 700;
        background: rgb(36, 50, 73);
        padding: 0.3em;
        border-radius: 4px;
        display: flex;
        align-self: center;
    }

    img.img-photo {
        margin-left: 1em;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
    }

    div.hr-set {
        display: flex;
        width: 0.05em;
        height: 2em;
        align-self: center;
        margin: 0 0.5em;
        background: rgb(36, 50, 73);
    }

    div.hightline {
        display: flex;
        width: 5em;
        height: 1.8em;
        align-self: center;
        margin: 0 0.5em;
        background: #ffffff;
    }

    div.admin-set {
        display: flex;
        align-self: center;
        margin-left: auto;
        /* min-width: 10%; */
    }

    button.btn-admin-set {
        font-size: 0.8em;
        padding: 0.2em;
        margin-right: 0.5em;
        display: inline-block;
        white-space: nowrap;
    }

    .member-img-trash {
        position: relative;
    }

    .member-delete-icon {
        position: absolute;
        height: 0.9em;
        width: 0.9em;
        left: 2.6em;
        bottom: 1.9em;
        display: none;
        color: rgb(247, 247, 247);
    }

    /*----------------------------------*/

    /*    work-header input設定          */

    /*----------------------------------*/

    input.input-style {
        background: rgb(61, 85, 124);
        color: rgb(255, 255, 255);
        border: 0;
        font-size: 0.9em;
        font-weight: 600;
        width: 85%;
        height: 1em;
        margin-left: 0.4em;
        line-height: 1em;
        padding: 1em 0;
    }

    input.input-style::placeholder {
        color: #fff;
        font-size: 1em;
    }

    input.input-style::-webkit-input-placeholder {
        color: #fff;
        font-size: 1em;
    }

    /*----------------------------------*/

    /*    卡片總體設定work-total         */

    /*----------------------------------*/

    div.work-total {
        background: rgb(61, 85, 124);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-width: 16em;
        max-width: 16em;
        max-height: 90%;
        margin: 1em;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    div.work-card {
        color: rgb(36, 73, 56);
        margin-bottom: 0.5em;
        /* width: 252px; */
    }

    div.work-card:hover {
        background-color: #fff4c1;
    }

    .work-header {
        display: flex;
        align-items: center;
    }

    /*----------------------------------*/

    /*    dropdown bootstrap調整        */

    /*----------------------------------*/

    /* .dropdown, .dropleft, .dropright, .dropup {
        position: static !important;
    } */

    .dropdown-menu {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 0.8em !important;
    }

    .dropdown-item {
        text-align: center;
    }

    .btn-header {
        color: #fff;
    }

    .btn-header:hover {
        color: #fff;
        background-color: #5D7096;
    }

    /*----------------------------------*/

    /*    dropdown right                */

    /*----------------------------------*/

    .pop-over-header {
        height: 40px;
        position: relative;
        margin-bottom: 8px;
        text-align: center;
    }

    span.drop-right-title {
        text-align: center;
        box-sizing: border-box;
        color: rgb(36, 50, 73);
        display: block;
        line-height: 40px;
        margin: 0 12px;
    }

    .drop-right-header-title {
        margin: 0 12px;
        border-bottom: 1px solid rgb(243, 171, 76);
    }

    .dropdown-right-content {
        padding: 0 12px 12px;
    }

    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dropdown-right-list li>a {
        cursor: pointer;
        display: block;
        font-weight: 400;
        padding: 3px 12px;
        position: relative;
        color: rgb(36, 50, 73);
        text-decoration: none;
    }

    .dropdown-right-list>li:hover {
        background: rgba(230, 231, 231, 0.658);
    }

    .dropdown-list-move>li:hover {
        background: rgba(230, 231, 231, 0.658);
    }

    /*----------------------------------*/

    /*    dropdown right-list           */

    /*----------------------------------*/

    i.close-list-icon {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }

    div.dropdown-list-move {
        position: relative;
    }

    div.dropdown-content-list {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content-list a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    div.move-list {
        padding: 0.5em;
    }

    div.form-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    span.move-label {
        color: #091e42;
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0;
    }

    span.move-value {
        display: block;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    div.button-drop-move {
        flex: 1;
        margin: 0 0 8px;
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 48px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    div.button-drop-move>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    div.button-drop-move-left>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    div.button-drop-move-right>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    button.move-btn {
        height: 2em;
        width: 4em;
        border-radius: 4px;
        border: none;
        background: #091e42;
        color: #ffffff;
        padding: 0.3em;
    }

    /*----------------------------------*/

    /*    work-header                   */

    /*----------------------------------*/

    div.work-card-header {
        display: flex;
        flex-wrap: wrap;
        padding: 0.2em;
        cursor: pointer;
    }

    div.work-card-header:hover {
        background-color: rgba(255, 60, 11, 0.1);
    }

    /*----------------------------------*/

    /*    標籤設定                       */

    /*----------------------------------*/

    span.card-label-1 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #61bd4f;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        min-width: 45px;
        max-width: 45px;
    }

    span.card-label-2 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #f2d600;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        min-width: 45px;
        max-width: 45px;
        width: auto;
    }

    span.card-label-3 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #ff9f1a;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        max-width: 45px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.card-label-4 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #eb5a46;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        max-width: 45px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.card-label-5 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #c377e0;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        max-width: 45px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.card-label-6 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        background-color: #0079bf;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        max-width: 45px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    span.label-text {
        height: 5px;
        line-height: 5px;
        padding: 0 8px;
    }

    /*----------------------------------*/

    /*    work-body                    */

    /*----------------------------------*/

    div.work-body {
        padding: 0px 0.5em 0.5em 0.5em;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    div.work-name {
        font-size: 0.8em;
        padding: 0.5em 0.5em;
        cursor: pointer;
    }

    /*----------------------------------*/

    /*    add-card                      */

    /*----------------------------------*/

    div.add-card-text {
        font-size: 0.9em;
        padding: 0.3em 0.5em;
        overflow-wrap: break-word;
    }

    /*----------------------------------*/

    /*    work-bottom                   */

    /*----------------------------------*/

    img.work-img-photo {
        border-radius: 50%;
        width: 1.75em;
        height: 1.75em;
    }

    div.work-img {
        padding: 0.5em;
        margin-left: auto;
    }

    div.work-card-bottom {
        display: flex;
        padding: 0 0.5em;
        align-items: center;
        cursor: pointer;
    }

    span.deadtime {
        background: rgb(243, 171, 76);
        color: #ffffff;
        border-radius: 4px;
        padding: 0.3em 0.35em;
        font-size: 0.7em;
    }

    div.card-footer {
        padding: .75rem 0.25rem;
        background-color: rgb(61, 85, 124);
        border-top: none;
    }

    div.footer-name {
        margin-left: 0.5em;
        font-size: 0.9em;
    }

    .a-footer {
        color: #fff;
    }

    a.a-footer:focus {
        border: none;
        outline: none;
    }

    /*----------------------------------*/

    /*            icon顏色&調整          */

    /*----------------------------------*/

    .fa-plus {
        margin-right: 0.2em;
    }

    .fa-clock {
        margin-right: 0.3em;
    }

    /*----------------------------------*/

    /*            新增列表               */

    /*----------------------------------*/

    div.add-list {
        position: relative;
    }

    div.add-list-header {
        background-color: rgba(245, 245, 245);
        margin-top: 1em;
        min-width: 18em;
        max-width: 18em;
        max-height: 90%;
        margin-right: 2em;
    }

    input.form-control:focus {
        box-shadow: none;
        border: rgba(245, 245, 245) solid 4px !important;
    }

    input.add-input-style {
        background: rgba(245, 245, 245);
        color: black;
        border: 0;
        width: 100%;
        font-size: 1em;
        font-weight: 600;
        height: 2em;
        line-height: 2em;
    }

    div.add-list-submit {
        display: flex;
        align-items: center;
    }

    button.btn-add-list {
        padding: 0.5em;
        font-size: 0.8em;
        margin: 0.5em;
    }

    /*----------------------------------*/

    /*            modal卡片點選調整       */

    /*----------------------------------*/

    .modal-dialog, .modal-content {
        /* 90% of window height */
        /* height: 90%;
        min-height: 90%;
        width: 100%; */
        background-color: #f4f5f7;
        height: auto !important;
        /* min-height: 80% !important; */
        /* min-height: 100% !important; */
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        /* max-height: calc(100% - 120px); */
        padding: 0 !important;
        height: auto !important;
    }

    /* .modal-left{
        position: absolute;
        top:0;
        width:70%;
        height: auto !important;
        background: #f3d4d3;
    }
    .modal-right{
        position: absolute;
        background: #c9cdf1;
        top:0;
        left:70%;
        height: 100% !important;
        width:30%;
    } */

    /*----------------------------------*/

    /*            modal header          */

    /*----------------------------------*/

    div.modal-header {
        display: flex;
        align-items: flex-start;
        padding: 1rem 1rem;
        border-bottom: none !important;
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;
    }

    div.mod-card-back-title {
        width: 100%;
        margin-bottom: 1em;
        overflow: hidden;
        opacity: 0.89;
        caret-color: #2D4F41;
        cursor: text;
        border: none;
        background: transparent;
        border-radius: 3px;
        box-shadow: none;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin: -4px 4px;
        min-height: 24px;
        padding: 4px 8px;
        resize: none;
    }

    div.mod-card-back-title {
        min-height: 30px;
    }

    div.modal-title {
        font-size: 1.2em !important;
        display: flex;
        width: 100%;
    }

    /* textarea.mod-card-back-title {
        background: transparent;
        border-radius: 3px;
        box-shadow: none;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin: -4px -8px;
        min-height: 24px;
        padding: 4px 8px;
        resize: none;
        overflow-wrap: break-word;
        height: 34px;
        margin-left: 2%;
        border: none;
    } */

    p.u-inline-block {
        font-size: 0.9em;
        margin-left: 7%;
        color: #999999;
    }

    .btn-close, .btn-close:hover {
        color: #fff;
        background-color: rgb(36, 50, 73);
    }

    .btn-send, .btn-send:hover {
        color: #fff;
        background-color: rgb(221, 152, 62);
    }

    /*----------------------------------*/

    /*            modal標籤              */

    /*----------------------------------*/

    div.modal-label-left {
        margin-left: 1.2em;
    }

    div.label-set {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 2em;
        padding-right: 2em;
    }

    i.label-icon {
        margin-right: 0.7em;
        margin-left: 0.1em;
    }

    div.modal-label-name {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
    }

    div.modal-label {
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }

    button.modal-add-label {
        position: relative;
        bottom: 0.1em;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 20px;
        width: 30px;
        background: rgba(104, 100, 100, 0.13);
        border: none;
    }

    span.modal-label-1 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #61bd4f;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 60px; */
        text-align: center;
    }

    span.modal-label-2 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #f2d600;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 60px; */
        text-align: center;
    }

    span.modal-label-3 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #ff9f1a;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 60px; */
        text-align: center;
    }

    span.modal-label-4 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #eb5a46;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 45px; */
    }

    span.modal-label-5 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #c377e0;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 45px; */
    }

    span.modal-label-6 {
        float: left;
        font-size: 13px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        margin: 0 4px 4px 0;
        background-color: #0079bf;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        display: block;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 45px;
        /* max-width: 45px; */
    }

    /*----------------------------------*/

    /*            modal到期日           */

    /*----------------------------------*/

    div.modal-timeout {
        margin-left: 1.2em;
    }

    i.timeout-icon {
        margin-right: 0.5em;
    }

    div.modal-timeout-name {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
    }

    div.timeout {
        margin: 0.5em 0 0.5em 2em;
    }

    /*----------------------------------*/

    /*            modal描述              */

    /*----------------------------------*/

    /* div.modal-description {
        margin-left: 1.2em;
    }

    i.icon-description {
        margin-right: 0.8em;
    }

    div.modal-description-name {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
    }

    textarea.describle-text {
        width: 88%;
        margin-left: 2em;
        margin-top: 0.5em;
    } */

    /*----------------------------------*/

    /*            modal檔案              */

    /*----------------------------------*/

    div.modal-file {
        margin-top: 0.5em;
        margin-left: 1.2em;
    }

    div.modal-file-name {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
    }

    i.icon-file {
        margin-right: 0.8em;
    }

    div.file-set {
        margin-left: 2em;
        width: 88%;
        border-radius: 3px;
        min-height: 80px;
        position: relative;
    }

    a.box-rar {
        background-color: rgba(9, 30, 66, .08);
        background-position: 50%;
        border-radius: 3px;
        height: 80px;
        margin-top: -40px;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        width: 112px;
    }

    span.box-rar-text {
        color: #6b778c;
        display: block;
        font-size: 18px;
        font-weight: 700;
        height: 100%;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }

    p.file-set-show {
        box-sizing: border-box;
        padding: 8px 8px 8px 128px;
        min-height: 80px;
    }

    .file-set-show .file-name {
        font-weight: 700;
        word-wrap: break-word;
    }

    .file-set:hover .file-set-show {
        background-color: rgba(9, 30, 66, .08);
    }

    /*----------------------------------*/

    /*            modal會員              */

    /*----------------------------------*/

    div.modal-member {
        margin-left: 1.2em;
    }

    i.icon-member {
        margin-right: 0.4em;
    }

    div.modal-description-name {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
    }

    div.modal-member-show {
        margin-left: 1.8em;
        padding-right: 2em;
    }

    img.modal-member-photo {
        border-radius: 50%;
        height: 3em;
        width: 3em;
        margin: 0.75em 0.35em;
    }

    /*----------------------------------*/

    /*        modal新增卡片&動作         */

    /*----------------------------------*/

    div.add-to-card-name {
        color: #6b778c;
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: .04em;
        line-height: 16px;
        margin-left: 0.5em;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }

    a.button-link:hover {
        background-color: rgba(9, 30, 66, .08);
        box-shadow: none;
        border: none;
    }

    a.button-link:hover {
        color: #091e42;
    }

    a.button-link:active, a.button-link:hover {
        outline: 0;
    }

    a {
        color: #091e42;
        text-decoration: none;
        background-color: transparent;
    }

    a.button-link {
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 32px;
        margin-top: 8px;
        margin-left: 0.5em;
        max-width: 15em;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        transition-duration: 85ms;
        transition-timing-function: ease;
    }

    div.modal-action {
        padding-bottom: 1em;
    }

    /*----------------------------------*/

    /*        新增標籤                   */

    /*----------------------------------*/

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 18rem !important;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }

    div.dropdown-label-header {
        height: 40px;
        position: relative;
        margin-bottom: 8px;
        text-align: center;
    }

    /*----------------------------------*/

    /*        標籤顏色和位置             */

    /*----------------------------------*/

    div.label-total {
        display: flex;
        margin-top: 0.5em;
        margin-left: 2.2em;
        align-items: center;
    }

    button.label-color-edit-btn {
        align-self: center;
        border: none;
        height: 2em;
        border-radius: 3px;
        width: 2em;
        margin-left: 0.5em;
        background: none;
    }

    button.label-color-edit-btn:hover {
        background-color: rgba(9, 30, 66, .13);
    }

    a.label-color-green-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        width: 16em;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        padding-left: 0.8em;
        background-color: #61bd4f;
    }

    .label-color-name {
        overflow: hidden;
        width: 16em;
        max-width: 16em;
        min-width: 16em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a.label-color-green-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(97, 189, 79, 0.5);
    }

    a.label-color-yellow-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(242, 214, 0);
    }

    a.label-color-yellow-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(242, 214, 0, 0.5);
    }

    a.label-color-orange-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(255, 159, 26);
    }

    a.label-color-orange-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(255, 159, 26, 0.5);
    }

    a.label-color-red-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(235, 90, 70);
    }

    a.label-color-red-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(235, 90, 70, 0.5);
    }

    a.label-color-purple-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(195, 119, 224);
    }

    a.label-color-purple-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(195, 119, 224, 0.5);
    }

    a.label-color-blue-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(0, 121, 191);
    }

    a.label-color-blue-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(0, 121, 191, 0.5);
    }

    a.label-color-sky-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(0, 194, 224);
    }

    a.label-color-blue-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(0, 194, 224, 0.5);
    }

    a.label-color-lime-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(81, 232, 152);
    }

    a.label-color-lime-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(81, 232, 152, 0.5);
    }

    a.label-color-pink-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(255, 120, 203);
    }

    a.label-color-pink-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(255, 120, 203, 0.5);
    }

    a.label-color-black-a {
        display: flex;
        align-items: center;
        font-size: 1em;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        font-weight: 700;
        height: 2em;
        width: 16em;
        padding-left: 0.8em;
        background-color: rgb(52, 69, 99);
    }

    a.label-color-black-a:hover {
        box-shadow: -5px 0px 0px 0px rgba(52, 69, 99, 0.5);
    }

    div.create-label {
        margin: 1.5em auto;
        text-align: center;
        width: 80%;
        border-radius: 3px;
        height: 2em;
        line-height: 2em;
        background: #b8b8b8;
    }

    div.create-label:hover {
        background-color: rgba(9, 30, 66, .13);
    }

    a.create-label-a {
        color: black;
    }

    /*---------------------------------- */

    /*    點擊編輯顏色彈出的dropdown      */

    /*----------------------------------*/

    div.dropdown-edit {
        position: relative;
        display: inline-block;
    }

    div.dropdown-content {
        display: none;
        position: absolute;
        right: 5%;
        background-color: #f9f9f9;
        min-width: 230px;
        max-width: 230px;
        margin-bottom: 1.5em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    span.dropdown-label-header-title {
        text-align: center;
        box-sizing: border-box;
        color: #091e42;
        font-weight: 700;
        display: block;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }

    label.label-name {
        font-weight: 700;
        color: #6b778c;
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 4px;
        display: block;
    }

    i.change-label-icon {
        position: absolute;
        top: 0.5em;
        right: 0;
    }

    a.change-label-icon-a {
        color: gray;
        outline: none;
    }

    div.label-color-total {
        padding: 2px 10px;
    }

    input.label-edit-input-search {
        width: 100%;
    }

    div.color-choice {
        height: auto;
    }

    span.card-label {
        background-color: #b3bac5;
        height: 40px;
        width: 48px;
        border-radius: 4px;
        margin-left: 1px;
        color: #fff;
        display: inline-block;
    }

    span.card-label-green {
        background-color: #61bd4f;
    }

    span.card-label-yellow {
        background-color: #f2d600;
    }

    span.card-label-orange {
        background-color: #ff9f1a;
    }

    span.card-label-red {
        background-color: #eb5a46;
    }

    span.card-label-purple {
        background-color: #c377e0;
    }

    span.card-label-blue {
        background-color: #0079bf;
    }

    span.card-label-sky {
        background-color: #00c2e0;
    }

    span.card-label-lime {
        background-color: #51e898;
    }

    span.card-label-pink {
        background-color: #ff78cb;
    }

    span.card-label-black {
        background-color: #344563;
    }

    div.label-edit-btn-set {
        display: flex;
        justify-content: space-between;
        margin-top: 1.2em;
        padding-bottom: 0.2em;
    }

    button.btn-save {
        width: 5em;
        padding: 0.5em 0.1em;
        background-color: rgb(36, 50, 73);
        box-shadow: none;
        border: none;
        color: #fff;
    }

    button.btn-cancel {
        width: 3em;
        padding: 0.5em 0.1em;
        background-color: rgb(243, 171, 76);
        box-shadow: none;
        border: none;
        color: #fff;
    }

    /*---------------------------------- */

    /*    點擊建立新增標籤出現            */

    /*----------------------------------*/

    div.dropdown-add-label {
        position: relative;
    }

    div.dropdown-content-add-label {
        display: none;
        position: absolute;
        right: 5%;
        bottom: 10%;
        background-color: #f9f9f9;
        min-width: 230px;
        max-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /*---------------------------------- */

    /*    點擊右側標籤編輯                */

    /*----------------------------------*/

    div.dropdown-add-right-label {
        position: relative;
    }

    div.dropdown-content-right {
        display: none;
        position: absolute;
        right: 5%;
        background-color: #f9f9f9;
        min-width: 230px;
        max-width: 230px;
        margin-bottom: 1.5em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    div.dropdown-content-add-right-label {
        display: none;
        position: absolute;
        right: 5%;
        bottom: 10%;
        background-color: #f9f9f9;
        min-width: 230px;
        max-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    i.fa-check {
        position: absolute;
        display: none;
        margin: 1em 1.5em;
    }

    /*---------------------------------- */

    /*    點擊會員跳出會員選擇            */

    /*----------------------------------*/

    span.pop-over-header-title {
        text-align: center;
        box-sizing: border-box;
        color: #091e42;
        display: block;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }

    div.dropdown-member-edit {
        padding: 0.5em 0.8em;
    }

    a.dropdown-img-member-set {
        display: flex;
        align-items: center;
        margin-top: 0.8em;
        border-radius: 3px;
        background: rgba(223, 226, 226, 0.267);
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;
        padding: 0.5em;
    }

    a.dropdown-img-member-set:hover {
        color: black;
    }

    .dropdown-member-img {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
    }

    div.member-name {
        font-size: 1em;
        margin-left: 0.5em;
    }

    /*---------------------------------- */

    /*    到期日                         */

    /*----------------------------------*/

    .dropdownTimeSet {
        position: relative;
        /* display: inline-block; */
    }

    .dropdown-content-Time {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 288px;
        /* min-width: 160px; */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /* padding: 12px 16px; */
        z-index: 1;
    }

    /* .dropdownTimeSet:hover .dropdown-content-Time {
        display: block;
    } */

    div.dropdown-timeout-edit {
        padding: 0.5em 0.8em;
    }

    .timeout-date {
        width: 100%;
    }

    /*---------------------------------- */

    /*    上傳檔案                         */

    /*----------------------------------*/

    #upload_input {
        display: none;
    }

    .upload_cover {
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 32px;
        margin-top: 8px;
        margin-left: 0.5em;
        max-width: 15em;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        transition-duration: 85ms;
        transition-timing-function: ease;
    }

    .upload_cover_span {
        margin-left: 0.6em;
        color: #091e42;
    }

    .upload_cover:hover {
        background-color: rgba(9, 30, 66, .08);
    }

    /*---------------------------------- */

    /*             移動                  */

    /*----------------------------------*/

    div.move-card-modal {
        padding: 0.5em;
    }

    span.move-label {
        color: #091e42;
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0;
    }

    span.move-value {
        display: block;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    div.button-drop-move {
        flex: 1;
        margin: 0 0 8px;
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 48px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    div.button-drop-move-left {
        width: 15em;
        margin: 0 0 8px;
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 48px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    div.button-drop-move-right {
        flex: 1;
        margin: 0 0 8px;
        background-color: rgba(9, 30, 66, .04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 48px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    div.button-drop-move>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    div.button-drop-move-left>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    div.button-drop-move-right>select {
        border: none;
        cursor: pointer;
        height: 50px;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
    }

    button.move-btn {
        height: 2em;
        width: 4em;
        border-radius: 4px;
        border: none;
        background: #091e42;
        color: #ffffff;
        padding: 0.3em;
    }

    /*---------------------------------- */

    /*             刪除                  */

    /*----------------------------------*/

    .delete-card {
        position: relative;
    }

    a.change-card-deletes-check {
        position: relative;
        background: rgb(255, 0, 0);
        z-index: 5;
    }

    a.change-card-deletes-check:hover {
        background: rgb(255, 0, 0);
    }

    /* .test{
        position: relative;
    } */

    .btn-delete-close {
        position: absolute;
        top: 0.4em;
        left: 75%;
        background: rgb(255, 255, 255);
        border: none;
        color: black;
        font-size: 0.8em;
        z-index: 20;
    }

    /*---------------------------------- */

    /*               會員modal           */

    /*----------------------------------*/

    .member-modal-label-set {
        display: flex;
        align-items: center;
        margin-left: 2em;
        padding-top: 0.3em;
    }

    .modal-member-content {
        border: 5px solid rgba(255, 255, 255, 0.5) !important;
    }

    div.member-title {
        font-size: 1em;
        margin-left: 0.5em;
    }

    div.member-modal-name {
        font-size: 0.9em;
        padding: 0.5em;
    }

    .switch {
        position: relative;
        top: 0.3em;
        margin-left: 0.3em;
        display: inline-block;
        width: 35px;
        height: 13px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        top: 0.07em;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: rgb(245, 169, 69);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px rgba(54, 51, 211, 0.692);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    button.btn-member-close {
        font-size: 0.8em;
        width: 3em;
        height: 2em;
        padding: 0.2em;
        border-radius: 4px;
    }

    button.btn-member-submit {
        font-size: 0.8em;
        width: 3em;
        height: 2em;
        padding: 0.2em;
        border-radius: 4px;
    }

    /*---------------------------------- */

    /*               組長推播           */

    /*----------------------------------*/

    .modal-header-admin-push {
        border-bottom: 1px solid #dee2e6 !important;
        background: rgb(245, 201, 106);
        color: rgb(36, 50, 73);
        font-weight: bolder;
    }

    .modal-admin-border {
        border: 3px solid #fff;
    }

    .hr-admin {
        margin-top: 0;
        margin-bottom: 0;
        border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    a.admin-push-text {
        position: fixed;
        /* top:1.3em; */
        /* color: #fff; */
        bottom: 0.5em;
        font-size: 2.5em;
        right: 0.5em;
        /* right:3.2em; */
    }

    div.admin-icon-set {
        display: flex;
        justify-content: flex-end;
    }

    div.plus-square-admin {
        font-size: 1.1em;
        margin-right: 0.5em;
    }

    div.double-down-member {
        font-size: 1.1em;
    }

    .messenge {
        display: flex;
        align-items: center;
    }

    .messenge-text {
        padding: 1em;
        width: 20em;
    }

    .time-show {
        flex: 1;
        padding: 1em;
    }

    .form-group {
        padding: 1em 0.5em;
    }

    @media screen and (max-width:460px) {
        .btn-delete-close {
            position: absolute;
            top: 0.4em;
            left: 50%;
            background: rgb(255, 255, 255);
            border: none;
            color: black;
            font-size: 0.8em;
            z-index: 20;
        }
    }

    @media screen and (max-width:380px) {
        .btn-delete-close {
            position: absolute;
            top: 0.4em;
            left: 58%;
            background: rgb(255, 255, 255);
            border: none;
            color: black;
            font-size: 0.8em;
            z-index: 20;
        }
    }

    @media screen and (max-width:320px) {
        .btn-delete-close {
            position: absolute;
            top: 0.4em;
            left: 65%;
            background: rgb(255, 255, 255);
            border: none;
            color: black;
            font-size: 0.8em;
            z-index: 20;
        }
    }